build/
*.ipr
run/
*.iws
out/
*.iml
.gradle/
output/
bin/
libs/

.classpath
.project
.idea/
classes/
.metadata
.vscode
.settings
*.launch
/.architectury-transformer/
*.lnk
/mapping.txt
/logs/
.env
build.properties
/common/src/main/java/anar4732/quasar/api